@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --Playfair: "Playfair Display", serif;
  --Quicksand: "Quicksand", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --dark: #3c393d;
  --exDark: #2b2b2b;
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--Quicksand);
}
body {
  line-height: 1.4;
  color: var(--dark);
}
img {
  width: 100%;
  display: block;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.2rem;
}
/*nav bar*/
nav {
  font-family: "Source Sans Pro", sans-serif;

  position: fixed;
  width: 90%;
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  z-index: 2;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  height: 3.6rem;
}

nav img {
  margin: 1rem;
  width: 9rem;
  cursor: pointer;
}

nav .navigation {
  display: flex;
}

#menu-btn {
  width: 30px;
  height: 30px;
  display: none;
}

#menu-close {
  display: none;
}

nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}

nav .navigation ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  /* font-size: 16px; */
  font-weight: 1000;
  transition: 0.3s ease;
  letter-spacing: 0.05rem;
}

nav .navigation ul li a:hover {
  color: #fdc93b;
}

/* header */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/banner-bg.jpg) center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.navbar {
  background: rgba(0, 0, 0, 0.6);
  padding: 1.2rem;
}
.navbar-brand {
  color: #fff;
  font-size: 2rem;
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: var(--Playfair);
  letter-spacing: 1px;
}
.navbar-nav {
  padding: 0.8rem 0 0.2rem 0;
  text-align: center;
}
.navbar-nav a {
  text-transform: uppercase;
  font-family: var(--Roboto);
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 0.1rem;
  letter-spacing: 3px;
  transition: opacity 0.5s ease;
}
.navbar-nav a:hover {
  opacity: 0.7;
}
.banner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.banner-title {
  margin-top: 10vw;
  font-size: 4rem;
  font-family: var(--Playfair);
  /* line-height: 1; */
}
.banner-title span {
  font-family: var(--Playfair);
  color: var(--dark);
}
.banner p {
  padding: 1rem 0 2rem 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: var(--Roboto);
  font-weight: 300;
  color: var(--exDark);
  word-spacing: 2px;
}
.banner form {
  background: #fff;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
}
.search-input {
  font-family: var(--Roboto);
  font-size: 1.1rem;
  width: 100%;
  outline: 0;
  padding: 0.6rem 0;
  border: none;
}
.search-input::placeholder {
  text-transform: capitalize;
}
.search-btn {
  width: 40px;
  font-size: 1.1rem;
  color: var(--dark);
  border: none;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

/* design */
.design {
  padding: 4.5rem 0;
}
.title {
  text-align: center;
  padding: 1rem 0;
}
.title h2 {
  font-family: var(--Playfair);
  font-size: 2.4rem;
}
.title p {
  text-transform: uppercase;
  padding: 0.6rem 0;
}
.design-content {
  margin: 2rem 0;
}
.design-item {
  cursor: pointer;
  margin: 1.5rem 0;
}
.design-img {
  position: relative;
  overflow: hidden;
}
.design-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.design-img img {
  transition: all 0.5s ease;
}
.design-item:hover img {
  transform: scale(1.2);
}
.design-img span:first-of-type {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  background: var(--exDark);
  color: #fff;
  padding: 0.25rem 1rem;
}
.design-img span:last-of-type {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}
.design-title {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.design-title a {
  color: var(--dark);
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--Playfair);
}

/* blog */
.blog {
  background: #f9f9f9;
  padding: 4.5rem 0;
}
.blog-content {
  margin: 2rem 0;
}
.blog-img {
  position: relative;
}
.blog-img span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: var(--exDark);
  color: #fff;
  font-size: 1.4rem;
  padding: 0.3rem 0.6rem;
}
.blog-text {
  margin: 2.2rem 0;
  padding: 0 1rem;
}
.blog-text span {
  font-weight: 300;
  display: block;
  padding-bottom: 0.5rem;
}
.blog-text h2 {
  font-family: var(--Playfair);
  padding: 1rem 0;
  font-size: 1.65rem;
  font-weight: 500;
}
.blog-text p {
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.9;
  padding-bottom: 1.2rem;
}
.blog-text a {
  font-family: var(--Roboto);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--dark);
  display: inline-block;
  background: var(--dark);
  color: #fff;
  padding: 0.55rem 1.2rem;
  transition: all 0.5s ease;
}
.blog-text a:hover {
  background: var(--exDark);
}

/* about */
.about {
  padding: 4.5rem 0;
}
.about-text {
  margin: 2rem 0;
}
.about-text > p {
  font-size: 1.1rem;
  padding: 0.6rem 0;
  opacity: 0.8;
}

/* footer */
footer {
  padding: 8vw;
  background-color: #101c32;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .footer-col {
  padding-bottom: 40px;
}
footer h3 {
  color: azure;
  font-weight: 600;
  padding-bottom: 20px;
}

footer li {
  list-style: none;
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

footer li:hover {
  color: azure;
}

footer p {
  color: #7b838a;
}

footer .Subscribe {
  margin-top: 20px;
}

footer input {
  width: 220px;
  padding: 15px 12px;
  background: #334f6c;
  border: none;
  outline: none;
  color: azure;
}

footer .Subscribe a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px 15px;
  background-color: azure;
  font-weight: 600;
}

footer .Subscribe a.yellow {
  color: azure;
  background: #fdc93b;
  transition: 0.3sec ease;
}

footer .Subscribe a.yellow:hover {
  color: rgb(21, 21, 100);
  background: azure;
}

footer .copyright {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

footer .copyright .prolinks {
  margin-top: 0px;
}

footer .copyright .prolinks i {
  background-color: #5f7185;
  color: azure;
}

footer .copyright .prolinks i:hover {
  background-color: #fdc93b;
  color: azure;
}
footer .copyright p {
  color: azure;
}

#about-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url("images/back1.jpeg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  /* animation: changeImage 20s linear infinite; */
  animation-name: change-color;
  animation-duration: 6s;
}

#about-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#about-container {
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-img {
  width: 60%;
  padding-right: 60px;
}

#about-container .about-img img {
  width: 100%;
}

#about-container .about-text {
  width: 40%;
  padding: 60px;
}

#about-container .about-text h2 {
  color: #29303b;
  padding-bottom: 15px;
}

#about-container .about-text p {
  color: #686f7a;
  font-weight: 300;
}
#about-container .about-text .about-fe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

#about-container .about-text .about-fe img {
  width: 50px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text {
  width: 90%;
}
#about-container .about-text .about-fe .fe-text h5 {
  font-size: 16px;
  color: #29303b;
}

#trust {
  text-align: center;
  padding: 8vw;
}

#trust .trust-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#trust .trust-img img {
  width: 90px;
  height: auto;
}

/* Media Queries */
@media (max-width: 769px) {
  nav {
    padding: 15px 20px;
  }

  nav img {
    width: 130px;
  }
  #menu-btn {
    display: initial;
  }

  #menu-close {
    display: initial;
    font-size: 1.6rem;
    color: #fff;
    padding: 30px 0 20px 20px;
  }

  nav .navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }

  nav .navigation ul.active {
    right: 0;
  }

  nav .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }

  nav .navigation ul li a {
    color: #fff;
  }
  #home {
    padding-top: 40px;
  }

  #home p {
    width: 90%;
  }

  #course {
    padding: 8vw 4vw 0 4vw;
  }
  #registeration {
    margin-top: 8vw;
    padding: 6vw 4vw 6vw 4vw;
  }

  #registeration .reminder .time {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  #experts {
    padding: 8vw 8vw 4vw 8vw;
    text-align: center;
  }

  footer .copyright .pro-links {
    margin-top: 15px;
  }

  #about-container {
    padding: 8vw 4vw 2vw 4vw;
  }
  #about-container .about-img {
    padding-right: 30px;
  }

  #trust .trust-img img {
    width: 50%;
    height: auto;
  }

  @media (max-width: 475px) {
    h1 {
      font-size: 2rem;
    }
    #registeration {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    #registeration .reminder .time {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    #about-container {
      flex-direction: column-reverse;
    }
    #about-contianer .about-img {
      width: 100%;
      padding-right: 0px;
    }
    #about-contianer .about-text {
      width: 100%;
      padding-bottom: 20px;
    }

    #trust .trust-img {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    #trust .trust-img img {
      width: 60px;
      margin: 10px 15px;
      height: auto;
    }
  }
}

@media (max-width: 400px) {
  .banner-title {
    margin-top: 30vw;
    font-size: 3rem;
  }
  footer input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 540px) {
  .navbar-nav a {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  .banner-title {
    margin-top: 10vw;
    font-size: 5rem;
  }
  .banner form {
    margin-top: 1.4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-input {
    padding: 0.8rem 0;
  }
  .design-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .design-item {
    margin: 0;
  }
  .blog-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .blog-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .design-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
